<a href="https://colab.research.google.com/github/Nzaya/Mchezopesa-Ltd/blob/master/Moringa_Data_Science_Core_W6_Independent_Project_2019_06_Sharon_Nzaya_Python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

  # QUESTION
  
  
  You have been recruited as a football analyst in a company - Mchezopesa Ltd and tasked to accomplish the task below.

A Prediction result of a game between team 1 and team 2, based on who's home and who's away, and on whether or not the game is friendly (include rank in your training).

# METRICS OF SUCCESS

# CONTEXT

# EXPERIMENTAL DESIGN TAKEN

# Importing necessary libraries

In [0]:
%matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import sqlite3
import numpy as np
import matplotlib.gridspec as gridspec
from numpy import random
import scipy.stats as scipy

from IPython.display import display

from sklearn.metrics import accuracy_score

# Loading our dataset

In [0]:
#Loading our ranking dataset

ranking=pd.read_csv('/content/fifa_ranking.csv')
ranking.head()

   rank country_full  ... confederation   rank_date
0     1      Germany  ...          UEFA  1993-08-08
1     2        Italy  ...          UEFA  1993-08-08
2     3  Switzerland  ...          UEFA  1993-08-08
3     4       Sweden  ...          UEFA  1993-08-08
4     5    Argentina  ...      CONMEBOL  1993-08-08

[5 rows x 16 columns]

In [0]:
#Loading our results dataset

results=pd.read_csv('/content/results.csv')
results.head()

         date home_team away_team  ...     city   country neutral
0  1872-11-30  Scotland   England  ...  Glasgow  Scotland   False
1  1873-03-08   England  Scotland  ...   London   England   False
2  1874-03-07  Scotland   England  ...  Glasgow  Scotland   False
3  1875-03-06   England  Scotland  ...   London   England   False
4  1876-03-04  Scotland   England  ...  Glasgow  Scotland   False

[5 rows x 9 columns]

## EXPLORATORY DATA ANALYSIS

I am only going to use the information from Country, Rank, City, Home Team, Away Team, Home Score,Away Score, Confederation, Neutral and Tournament for the EDA.

This are the information which would be useful to understand the game.

In [18]:
#Creating a new ranking dataFrame

df=ranking[['rank','country_full','confederation','rank_date']]
df.head()

   rank country_full confederation   rank_date
0     1      Germany          UEFA  1993-08-08
1     2        Italy          UEFA  1993-08-08
2     3  Switzerland          UEFA  1993-08-08
3     4       Sweden          UEFA  1993-08-08
4     5    Argentina      CONMEBOL  1993-08-08

In [19]:
#creating a new result dataframe

df1=results[['home_team','away_team','home_score','away_score','tournament','city','country','neutral','date']]
df1.head()

  home_team away_team  home_score  ...   country neutral        date
0  Scotland   England           0  ...  Scotland   False  1872-11-30
1   England  Scotland           4  ...   England   False  1873-03-08
2  Scotland   England           2  ...  Scotland   False  1874-03-07
3   England  Scotland           2  ...   England   False  1875-03-06
4  Scotland   England           3  ...  Scotland   False  1876-03-04

[5 rows x 9 columns]

In [20]:
#Merging the two new dataframe

merged=df.merge(df1,left_on='country_full',right_on='country')
merged.head()

   rank country_full confederation  ...  country neutral        date
0     1      Germany          UEFA  ...  Germany   False  1909-04-04
1     1      Germany          UEFA  ...  Germany   False  1910-05-16
2     1      Germany          UEFA  ...  Germany   False  1910-10-16
3     1      Germany          UEFA  ...  Germany   False  1911-03-26
4     1      Germany          UEFA  ...  Germany   False  1911-10-09

[5 rows x 13 columns]

In [0]:
#creating a new column called results that is computed by the home score - the away score

merged['result'] = merged['home_score'] - merged['away_score']

In [0]:
#creating a function for the win ,loss and draw

def result(x):
  if x >0:
    return 'win'
  elif x<0:
    return 'loss'
  else:
    return 'draw'

In [0]:
#Implementing and applying our function

merged['results']=merged.result.apply(lambda x: result(x))

In [35]:
#previewing  the new dataset

merged.head()

   rank country_full confederation  ...        date result results
0     1      Germany          UEFA  ...  1909-04-04      1     win
1     1      Germany          UEFA  ...  1910-05-16     -3    loss
2     1      Germany          UEFA  ...  1910-10-16     -1    loss
3     1      Germany          UEFA  ...  1911-03-26      4     win
4     1      Germany          UEFA  ...  1911-10-09     -1    loss

[5 rows x 15 columns]

# Univeriate Analysis

# Biveriate Analysis